header{
  text-align: center;
  color: white;
  font-family: Arial;
  font-size: 20px;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_640.jpg")
}

  #menu li {
    display: inline;
    border: 1px solid black;
    padding: 10px 20px ; 
    font-size: 20px;
    background-color: rgb(50,170,255);
}
 
  #menu li a {
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    
    padding: 10px;
  }

  h1{
  font-weight: bold;
  text-align: center;
  }

  nav{
    
    text-align: center;
    
  }

  li:hover{
  opacity: 0.5;
  cursor: pointer;
  background-color: #CBF2EB;
}

/* visited link */
li:visited {
    color: #101111;
    font-weight: bold;

}

/* mouse over link */
li:hover {
    color: #FF00FF;
    opacity: 0.5;
    cursor: pointer;
}

/* selected link */
li:active {
    color: #0000FF;
    font-weight: bold;
}

footer{
border: 1px solid black;
padding:5px 30px;
text-align: left;
text-align: justify;

}

footer div{ 
width: 80%;
display: inline-block;
 }

footer img{
  width: 15%;
  text-align: right;
  display: inline-block;
}
/*.................*/
div.contenido{
  display: inline-block;
  
  padding: 2px;
  margin: 3px;
 
}
aside{
  border: 1px solid black;
  width: 350px;
  height: 400px;
  padding: 8px;
  
  text-align: center;
}
section{
  
  width: 650px;
  height: 600px;
  padding: 3px;

  
}

#tweets{
  align-content: center;
  padding: 5px;
  margin: auto;
  border-style: ridge;
  border-color: rgb(124,124,124);
}

div.twitter div{
  line-height: 1.3;
  color:rgb(122, 122, 122);
  width: 220px;
  font-size: 16px;
  text-align: justify;
  
}
section h2{
  text-align: center;
}
#encuentranos{
  line-height: 2;
}
video{
  width: 220px;
  height: 140px;
}
div label{
  text-decoration: underline;
}

textarea{
  width: 450px;
  height: 100px;

}

#tweet-1 .name::before {
  content: "Kevin Mandeville";
}

#tweet-1 .handle::after {
  content: "@KevinMandeville";
}

#tweet-1 .copy::before {
  content: "I'm excited for #TEDC15! Who's going?";
}

#tweet-1 .timestamp::after {
  content: "1m";
}


img#footer{
  height: 80px;
  width: 80px;
}

div.contenido section {
  display: inline-block;
}
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 20%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

img.imagen{
  border: groove;
  box-shadow: 10px 10px 5px #ccc;
  padding: 5px;
  margin: 5px;
  height: 120px;
  width: 120px;
}
img.imagen[alt^=Somos]:hover{
  opacity: 0.5;
  
}
